* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 0.2s cubic-bezier(0.26,1.24,0.82,1.46);
}
.card-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    overflow: hidden;
    background: #999;
}
.card {
    width: 400px;
    height: 300px;
    /*height: 550px;*/
    text-align: center;
    background: #fff;
    box-shadow: 0 5px 15px #bbb;
    position: relative;
    z-index: 1;
}
.card:hover {
    height: 550px;
}
.card .image img {
   height: 150px;
   filter: drop-shadow(5px 5px 5px #333);
   margin-top: 50px;
   margin-bottom: 80px;
   transform: rotate(-15deg);
}
.card:hover .image img  {
    transform: scale(1.1) rotate(-45deg);
    height: 80px;
}
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#c8d6e5, #222f3e, #ee5253, #54a0ff);
    z-index: -1;
    clip-path: circle(50% at 10% 10%);
    transition: 0.2s linear;
}
.card:hover::before {
    clip-path: circle(40% at 18% 0);
}
.card .content {
    transform: translateY(100px);
    opacity: 0;
}
.card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}
.card .content .title {
    font-size: 30px;
    color: #130f40;
}
.card .content .size {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.card .content .size span {
    font-size: 20px;
    color: #333;
    margin-right: 5px;
}
.card .content .size li {
    font-size: 16px;
    background: #777;
    margin: 10px;
    padding: 8px 10px;
    color: #000;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}
.card .content .size li.active {
    background: #222;
    color: #fff;
}
.card .content .price {
    font-size: 28px;
    color: #000;
    font-weight: 700;
    padding: 16px 0;
}
.card .content .price span {
    font-size: 18px;
    text-decoration: line-through;
    color: #777;
    font-weight: lighter;
}
.card .content .btn {
    height: 40px;
    width: 160px;
    border: none;
    outline: none;
    background: #130f40;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}
.card .content .btn:hover {
    opacity: .9;
    letter-spacing: 2px;
}
.card .icons {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 17px 5px;
    background: #95afc0;
    clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0% 50%);
    opacity: 0;
}
.card .icons a {
    margin: 20px 13px;
    padding-left: 15px;
    font-size: 23px;
    color: #000;
}
.card .icons a:hover {
    color: #eb4d4b;
}
.card:hover .icons {
    left: -75px;
    opacity: 1;
}
.card .colors {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-flow: column;
    background: #95afc0;
    padding: 5px;
    padding-right: 17px;
    clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
    opacity: 0;
}
.card:hover .colors {
    right: -77px;
    opacity: 1;
}
.card .colors span {
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50px;
    margin: 8px 15px;
    cursor: pointer;
}
.card .colors span.active {
    border: 3px solid #111;
}

/*-----------*/

@media (max-width: 768px){
    .card {
        width: 200px;
        height: 200px;
    }
    .card .image img {
        height: 80px;
    }
    .card .content .title {
        font-size: 19px;
    }
    .card .content .size  {
        flex-direction: column;
    }
    .card .content .size span {
        font-size: 19px;
    }
    .card .content .size li {
        font-size: 12px;
        margin: 5px;
        padding: 5px;
    }
    .card .content .price {
        font-size: 20px;
    }
    .card .content .price span {
        font-size: 12px;
    }
    .card .content .btn {
        height: 30px;
        width: 120px;
        font-size: 15px;
    }
}

































